
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #F37335, #FDC830); 
}

header {
    background-color: #DFA67B;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}


p {
    text-align: center;
}

.recs {
    text-align: center;
    
    justify-content: center;
}

#movieInfo , #showFood {
    background-color: #FFF2CC;
    color: black;
=======
#moviePicks {
    border: 1px dashed;
    text-align: center; 
}  

#movieInfo {
    background-color: #10cad1;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

#foodPicks {
    border: 1px dashed;
    text-align: center; 


}


#showFood {
    background-color: #10cad1;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    padding: 1%;
    font-size: 30px;
}
#movieInfo:hover , #showFood:hover{
    background-color: #F37335;
}
#movieInfo:focus, #showFood:focus {
    border: 5px solid black;
}

