
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #F37335, #FDC830); 
}

header {
    background-color: #DFA67B;
    color: #FF0000;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    

}
h1 {
    font-size: 35px;
}
.based-on {
    text-align: center;
    font-size: 35px;
}

.recs {
    text-align: center;
    font-size: 25px;
    justify-content: center;
}
.movie-placeholder, .food-placeholder {
    margin-bottom: 20px;
    margin-top: 20px;
}

.synopsis, .food-options {
    border-radius: 10px;
    max-width: 50%;
    border: 3px solid black;
    text-align: center;
    margin: auto;
    color: black;
    margin-top: 2%;
    
}
p {
    text-align: center;
    font-size: 25px;
}
h3 {
    font-size: 35px;
    text-decoration: underline;
    font-weight: bold;
}
img {
    max-width: 30%;

}
.emoji {
    font-size: calc(80px + 2vw);
    min-width: 1em;
    margin: 0.3em 0.4em;
    text-align: center;
}

.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.monkey::after {
    content: '🙈';
    --emoji-1: '🙉';
    --emoji-2: '🙊';
    animation-name: threeFrames;
    animation-duration: 2s;
}
.food::after {
    content: '🍔';
    --emoji-1: '🥡';
    --emoji-2: '🥗';
    animation-name: threeFrames;
    animation-duration: 2s;
}

.star-face::after {
    content: '🤩 ';
    --emoji: '😄';
    animation-name: twoFrames;
    animation-duration: 1.5s;
}

@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}
@keyframes threeFrames {
    33.333% {
        content: var(--emoji-1);
    }

    66.666% {
        content: var(--emoji-2);
    }
}

/* remove color changing background in final product */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  * {
    background-color: orange;
  }

}

@media screen and (max-width: 576px) {
  * {
    background-color: yellow;
  }
}